__pycache__/gas.cpython-38.pyc
*.pyc
sounds/Knife Hit Short - QuickSounds.com.mp3
sounds/mixkit-wood-hard-hit-2182.wav
sounds/Sword Hit Wood 1 - QuickSounds.com.mp3
sounds/Sword Stab Thin Wood - QuickSounds.com.mp3
sounds/Weapon Axe Hit Wood And Metal - QuickSounds.com.mp3
setup.py
